# Ignore node dependencies
node_modules/

# Ignore logs
logs
*.log

.env

# Ignore system files
.DS_Store
Thumbs.db

# Ignore build outputs
dist/
build/


# Resultados gerados pela automação
Evidencias/
allure-results/
test-results/